<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/home">
          <mat-icon class="icon">home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item routerLink="/veiculo">
          <mat-icon class="icon">fire_truck</mat-icon>
          <span>Veículo</span>          
        </a>
        <a mat-list-item routerLink="/acessorio">
          <mat-icon>apps</mat-icon>
          <span>Acessórios</span>
        </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header></app-header>
    <button class= "button-icon" type="button" matButton (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
